.work-order {
    border: 1px solid #000;
    padding: 15px 55px;
}

.profile-info {
    display: grid;
    grid-template-columns: 35% 65%;
}

.profile-image {
    height: 100px;
    width: 100px;   
    border-radius: 50%;
    background-color: #bbb;
}

.profile-text {
    width: 200px;
}